<div class="pre-article">
  <div class="biggest-preview" v-if="type==='biggest-preview'" style="background-image: url(https://static.highsnobiety.com/wp-content/uploads/2017/07/21120055/sneaker-photos-instagram-supreme-louis-vuitton-yeezy-boost-custom-01-480x320.jpg)">
    <div class="meta">
      <tag :tag="['Success', 'Fail']"/>
      <h2 class="title-1">Champagne Jell-oshort</h2>
      <p class="author-1">DO HONG QUAN - June 06,2018 </p>
    </div>
  </div>
</div>