<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EJS TEMPLATING</title>
    <% include partials/head %>
  </head>
  <body>
    <div id="app">
      <% include partials/header %>
      <main class="main">
        <%- body %>
      </main>
      {<% include partials/footer %>
    </div>
  </body>
</html>